<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694760769035-3eh1unkvsovdf52mbc1dc47v4p0obp3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694760769035-3eh1unkvsovdf52mbc1dc47v4p0obp3t</string>
	<key>API_KEY</key>
	<string>PUY_GOOGLE_API_KEY_HERE</string>
	<key>GCM_SENDER_ID</key>
	<string>694760769035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GrigoryStolyarov.VKMobile</string>
	<key>PROJECT_ID</key>
	<string>vkmobile-eb6bb</string>
	<key>STORAGE_BUCKET</key>
	<string>vkmobile-eb6bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694760769035:ios:685356956db5f8a831290e</string>
</dict>
</plist>